/*
*	MatterTools.Gui
*/

body .dg .c,
body .dg .cr.function,
body .dg .c select,
body .dg .property-name,
body .dg .title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body .dg.main {
  z-index: 10;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
          box-shadow: 0 0 30px rgba(0,0,0,0.2);
  height: 100%;
  background: rgb(28, 29, 47);
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  padding: 50px 0 0 0;
}

body .dg.ac {
  position: static;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit;
}

@media only screen and (max-width : 1500px) {
  body .dg.main {
    -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
            transform: translate(230px, 0);
  }

  body .dg.main:hover {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  body .dg.main {
    -webkit-transition: transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        -o-transition: transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        transition: -webkit-transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        transition: transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        transition: transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415), -webkit-transform 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);

    -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);
    
    -o-transition-delay: 2s;
    
       transition-delay: 2s;
    -webkit-transition-delay: 2s;
  }

  body .dg.main:hover {
    -webkit-transition: transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        -o-transition: transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        transition: -webkit-transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        transition: transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        transition: transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835), -webkit-transform 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);

    -webkit-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        -o-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);

    -o-transition-delay: 0;

       transition-delay: 0;
    -webkit-transition-delay: 0;
  }
}

body .dg.main .close-button {
  display: none;
}

body .dg.main::-webkit-scrollbar {
  background: #1c1c25;
  width: 12px;
}

body .dg.main::-webkit-scrollbar-thumb {
  background: transparent;
  width: 5px;
  border-left: 5px solid transparent;
  border-right: 6px solid #2a2a31;
  border-radius: 0;
}
 
body .dg {
  color: #9196ad;
  text-shadow: none !important;
}

body .dg li:not(.folder) {
  height: 28px;
  background: #1c1c25;
  border-bottom: 0px;
  padding: 0 0 0 12px;
}
 
body .dg li.save-row .button {
  text-shadow: none !important;
}

body .dg li.title {
  padding-left: 22px;
  color: #6f7388;
  border-bottom: 1px solid #29292d;
  background: #0d0f1b url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 10px 10px no-repeat;
}

body .dg .cr.boolean:hover {
  background: #232431;
}

body .dg .cr.function {
  background: #262731;
  color: #6d7082;
  border-bottom: 1px solid #222535;
  border-top: 1px solid #3c3e48;
}

body .dg .cr.function:hover {
  background: #30313e;
}

body .dg .cr.function:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

body .dg .c,
body .dg .property-name {
  width: 50%;
}

body .dg .c select {
  margin-top: 2px;
  margin-left: -5px;
  padding: 3px 5px;
}

body .dg .c select,
body .dg .c input[type=text],
body .dg .cr.number input[type=text] {
  text-align: right;
  background: #191a23;
  color: #686c7b;
  border: 0;
  font-size: 10px;
}

body .dg .cr.number,
body .dg .cr.boolean,
body .dg .cr.function {
  border-left: 0;
}

body .dg .c select,
body .dg .c select:focus {
  width: 88px;
  outline: 0;
}
 
body .dg .c input[type=text]:hover {
  background: #1c1d2f;
}
 
body .dg .c input[type=text]:focus {
  background: #1c1d2f;
  color: #fff;
}

body .dg .c input[type=checkbox] {
  margin-top: 9px;
  border: none;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #35363e;
  display: block;
  width: 10px;
  height: 10px;
  float: right;
}

body .dg .c input[type=checkbox]:checked {
  background: #5b5e6b;
}

body .dg .c input[type=checkbox]:focus {
  outline: none;
}
 
body .dg .c .slider {
  background: #252731;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

body .dg .c .slider:hover {
  background: #282b3a;
}

body .dg .c .slider-fg {
  background: #32364a;
  border-radius: 0;
  margin-left: 0;
  padding-right: 0;
}

body .dg .c .slider-fg:after {
  display: none;
}

body .dg .c .slider:hover .slider-fg {
  background: #4d526b;
}

body .dg li.folder {
  border-left: 0;
}

body .dg.a {
  margin-right: 0;
}