/*
*	MatterTools.Gui
*/

body .dg .c,
body .dg .cr.function,
body .dg .c select,
body .dg .property-name,
body .dg .title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body .dg.main {
  z-index: 10;
  height: 100%;
  background: #14151f;
  position: fixed;
  top: 0;
  right: 0;
  padding: 48px 0 0 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

body .dg.main,
body .dg.main * {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .dg.main *:focus,
body .dg.main *:active {
  outline: 0;
}

body .dg.main *:-moz-focusring {
  outline: 3px solid #4da4e4;
  outline-offset: -1px;
  z-index: 5;
}

body .dg.main *:focus-visible {
  outline: 3px solid #4da4e4;
  outline-offset: -1px;
  z-index: 5;
}

body .dg.ac {
  position: static;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit;
}

body .dg.main {
  transform: translate(230px, 0);
  transition: transform ease;
  transition-delay: 2000ms;
  transition-duration: 300ms;
}

body .dg.main:hover {
  transform: translate(0, 0);
  transition-delay: 0ms;
  transition-duration: 400ms;
}

@media only screen and (min-width : 1300px) {
  body .dg.main,
  body .dg.main:hover {
    transition-delay: 0ms;
    transform: translate(0, 0);
  }
}

body .dg.main .close-button {
  display: none;
}

body .dg.main > ul {
  height: 100%;
  background: #191921;
  overflow-y: auto;
  scrollbar-color: #0d0f1b #0d0f1b;
  scrollbar-width: thin;
}

body .dg.main > ul:hover {
  scrollbar-color: #44444e #0d0f1b;
  scrollbar-width: thin;
}

body .dg.main > ul::-webkit-scrollbar {
  background: #0d0f1b;
  width: 6px;
  height: 6px;
}

body .dg.main > ul::-webkit-scrollbar-track,
body .dg.main > ul::-webkit-scrollbar-corner {
  background: #0d0f1b;
}
  
body .dg.main > ul::-webkit-scrollbar-thumb {
  background: #0d0f1b;
  border-radius: 3px;
}

body .dg.main > ul:hover::-webkit-scrollbar-thumb {
  background: #44444e;
}
 
body .dg {
  color: #6d6d7d;
  text-shadow: none !important;
  font-size: 12px;
}

body .dg .closed .cr {
  display: none;
}

body .dg li:not(.folder) {
  height: 29px;
  background: #1c1c25;
  border-bottom: 0px;
  padding: 0 8px 0 12px;
}
 
body .dg li.save-row .button {
  text-shadow: none !important;
}

body .dg li.title {
  padding: 2px 0 0 24px;
  color: #6a6977;
  background: #0d0f1b url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) no-repeat;
  background-position: 12px;
}

body .dg li.title:hover {
  color: #9494a2;
}

body .dg .cr.boolean:hover {
  background: #20212b;
}

body .dg .cr.function {
  background: #262731;
  color: #636371;
  border-top: 1px solid #30313c;
}

body .dg .cr.function:hover {
  background: #30313e;
}

body .dg .cr.function:active {
  background: #2d2e3a;
}

body .dg .cr.function:active .property-name {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

body .dg .c,
body .dg .property-name {
  width: 50%;
}

body .dg .c select {
  margin-top: 2px;
  margin-left: -5px;
  padding: 3px 5px;
}

body .dg .c select,
body .dg .c input[type=text],
body .dg .cr.number input[type=text] {
  text-align: right;
  background: transparent;
  color: #686c7b;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  font-size: 11px;
}

body .dg .cr.number,
body .dg .cr.boolean,
body .dg .cr.function {
  border-left: 0;
}

body .dg .c select,
body .dg .c select:focus {
  width: 88px;
}

body .dg .c input[type=text]:hover {
  background: #2b2c3a;
}
 
body .dg .c input[type=text]:focus {
  background: #2b2c3a;
  color: #fff;
  outline: none;
}

body .dg .c input[type=checkbox] {
  margin-top: 10px;
  border: none;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #35363e;
  display: block;
  width: 7px;
  height: 7px;
  float: right;
}

body .dg .c input[type=checkbox]:checked {
  background: #747784;
}
 
body .dg .c .slider {
  background: #23232d;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  overflow: hidden;
}

body .dg .c .slider:hover {
  background: #282b3a;
}

body .dg .c .slider-fg {
  background: #3f4354;
  border-radius: 0;
  margin-left: 0;
  padding-right: 0;
}

body .dg .c .slider-fg:after {
  display: none;
}

body .dg .c .slider:hover .slider-fg {
  background: #4d526b;
}

body .dg li.folder {
  border-left: 0;
}

body .dg.a {
  margin-right: 0;
}