/*
*	MatterTools.Inspector
*/

.ins-container,
.jstree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ins-cursor-move canvas {
  cursor: move !important;
}

.ins-cursor-rotate canvas {
  cursor: ew-resize !important;
}

.ins-cursor-scale canvas {
  cursor: nwse-resize !important;
}

.ins-container {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  z-index: 10;
  width: 245px;
  bottom: 0;
  top: 0;
  left: 0;
  background: #1c1c25;
  padding: 0;
  font-family: Arial;
  font-size: 12px;
  color: #aaa;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
          box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

body .ins-container::-webkit-scrollbar {
  background: #1c1c25;
  width: 12px;
}

body .ins-container::-webkit-scrollbar-thumb {
  background: transparent;
  width: 5px;
  border-left: 5px solid transparent;
  border-right: 6px solid #2a2a31;
  border-radius: 0;
}

@media only screen and (max-width : 1500px) {
  .ins-container {
    -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
            transform: translate(-230px, 0);
  }

  .ins-container:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .ins-container {
    -webkit-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
       -o-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);

    -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
       -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415); 
        transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);

    -o-transition-delay: 3s;

       transition-delay: 3s;
    -webkit-transition-delay: 3s;
  }

  .ins-container:hover {
    -webkit-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
       -o-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);

    -webkit-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
       -o-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835); 
        transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);

    -o-transition-delay: 0;

       transition-delay: 0;
    -webkit-transition-delay: 0;
  }
}

.ins-add-button.ins-button {
  width: auto;
  height: auto;
  padding: 2px 5px;
  margin: 4px 0 0 0;
  right: 0px;
  min-width: 0;
  position: absolute;
  z-index: 100;
}

.ins-search-box {
  margin: 20px 0px 16px 13px;
  border: 0;
  padding: 7px 8px;
  font-size: 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  background: #111117;
  color: #919691;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ins-search-box:focus {
  background: #15151d;
  border: 0;
  outline: 0;
}

.ins-search-box::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 15px;
  width: 8px;
  cursor: pointer;
}

.ins-search-box::-webkit-search-cancel-button:before {
  height: 10px;
  width: 10px;
  content: 'x';
  font-family: Arial;
  line-height: 0;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  cursor: pointer;
}

.ins-search-box::-webkit-input-placeholder {
  color: #777;
}

.ins-search-box:-moz-placeholder {
  color: #777;
}

.ins-search-box::-moz-placeholder {
  color: #777;
}

.ins-search-box:-ms-input-placeholder {  
  color: #777;
}

.ins-world-tree {

}

.ins-control-group {
  display: block;
  clear: both;
  overflow: hidden;
  padding: 14px 20px 12px 20px;
  background: #0d0f1b;
  border-bottom: 1px solid #29292d;
}

.ins-button {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 1;
  padding: 10px 11px;
  min-width: 49px;
  text-align: center;
  background: #0d0f1b;
  border: 0;
  color: #aaa;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
}

.ins-button:hover {
  background: #212a3a;
}

.ins-button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  background: #212a3a;
}

.ins-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.jstree-default .jstree-search {
  font-style: italic;
  color: #aaa;
  font-weight: normal;
}

.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-hovered {
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.jstree-default .jstree-wholerow {
  height: 26px;
}

.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-clicked {
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.jstree-default .jstree-leaf .jstree-clicked {
  color: #bbb !important;

  -webkit-transition: color 100ms linear; 
     -o-transition: color 100ms linear; 
      transition: color 100ms linear; 
}

.jstree-default .jstree-anchor {
  line-height: 27px;
}

.jstree-default .jstree-container-ul> .jstree-node > .jstree-anchor:before,
.jstree-default .jstree-open > .jstree-children > .jstree-node > .jstree-anchor:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 1px;
  height: 26px;
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-right: none;
  pointer-events: none;
  background: rgba(0,0,0,0);

  -webkit-transition: background 100ms linear; 
     -o-transition: background 100ms linear; 
      transition: background 100ms linear; 
}

.jstree-default .jstree-anchor.jstree-clicked:before {
  background: rgba(58, 63, 88, 0.35) !important;

  -webkit-transition: background 100ms linear; 
     -o-transition: background 100ms linear; 
      transition: background 100ms linear; 

  pointer-events: none;
}

.jstree-default .jstree-node,
.jstree-default .jstree-leaf .jstree-ocl,
.jstree-default .jstree-icon {
  background: transparent;
}

.jstree-default .jstree-node {
  margin-left: 10px;
}

.jstree-default .jstree-icon {
  position: relative;
}

.jstree-default .jstree-icon:before {
  display: block;
  pointer-events: none;
  color: #d6d6d6;
  font-style: normal;
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 10px;
}

.jstree-default .jstree-open > .jstree-icon:before {
  content: '▾';
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 2px;
}

.jstree-default .jstree-closed > .jstree-icon:before {
  content: '▾';
}

.jstree-leaf .jstree-icon:before {
  display: none;
}

.jstree-default .jstree-open .jstree-ocl {
  background-position: -38px -1px;
}

.jstree-default .jstree-closed .jstree-ocl {
  background-position: -4px -2px;
}

.jstree-anchor {
  padding: 1px 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.jstree-anchor .jstree-icon {
  display: none;
}

.jstree-node-type-bodies > .jstree-anchor,
.jstree-node-type-constraints > .jstree-anchor,
.jstree-node-type-composites > .jstree-anchor {
  color: #888;
}

.ins-container *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ins-container *::-webkit-scrollbar-thumb:vertical {
  border-left: 3px solid #1c1c25;
  background: #1c1d2f;
  width: 10px;
}

.ins-container *::-webkit-scrollbar-thumb:horizontal {
  border-top: 3px solid #1c1c25;
  background: #1c1d2f;
  height: 10px;
}

.ins-container *::-webkit-scrollbar-track,
.ins-container *::-webkit-scrollbar-corner {
  background: transparent;
}

#vakata-dnd {
  font-family: Arial;
  font-size: 12px;
  color: #aaa;
}