/*
*	MatterTools.Inspector
*/

.ins-container,
.jstree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ins-cursor-move canvas {
  cursor: move !important;
}

.ins-cursor-rotate canvas {
  cursor: ew-resize !important;
}

.ins-cursor-scale canvas {
  cursor: nwse-resize !important;
}

.ins-container {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  z-index: 10;
  width: 245px;
  bottom: 0;
  top: 0;
  left: 0;
  background: #17171f;
  padding: 0;
  font-size: 13px;
  color: #7c7c85;

  box-shadow:
    0 0px 1.6px rgba(0, 0, 0, 0.025),
    0 0px 3.9px rgba(0, 0, 0, 0.036),
    0 0px 7.4px rgba(0, 0, 0, 0.045),
    0 0px 13.2px rgba(0, 0, 0, 0.054),
    0 0px 24.7px rgba(0, 0, 0, 0.065),
    0 0px 60px rgba(0, 0, 0, 0.09)
  ;
}

.ins-container,
.ins-container * {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .ins-container::-webkit-scrollbar {
  background: #17171f;
  width: 5px;
  border-radius: 1px;
}

body .ins-container::-webkit-scrollbar-thumb {
  background: transparent;
  width: 5px;
  border-left: 5px solid transparent;
  border-right: 6px solid #2a2a31;
  border-radius: 0;
}

.ins-container {
  transform: translate(-220px, 0);
  transition: transform ease;
  transition-delay: 2000ms;
  transition-duration: 300ms;
}

.ins-container:hover {
  transform: translate(0, 0);
  transition-delay: 0ms;
  transition-duration: 400ms;
}

@media only screen and (min-width : 1300px) {
  .ins-container,
  .ins-container:hover {
    transform: translate(0, 0);
  }
}

.ins-add-button.ins-button {
  width: auto;
  height: auto;
  padding: 2px 5px;
  margin: 4px 5px 0px 0;
  right: 0px;
  min-width: 0;
  position: absolute;
  z-index: 100;
}

.ins-top-panel {
  height: 50px;
  background: #14151f;
}

.ins-search-box {
  margin: 7px 5px 9px 5px;
  border: 0;
  padding: 7px 8px;
  font-size: 13px;
  width: 235px;
  border-radius: 3px;
  background: #12131b;
  color: #8e8d96;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ins-search-box:focus {
  background: #0f1017;
  border: 0;
  outline: 0;
}

.ins-search-box::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 15px;
  width: 8px;
  cursor: pointer;
}

.ins-search-box::-webkit-search-cancel-button:before {
  height: 10px;
  width: 10px;
  content: 'x';
  line-height: 0;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  cursor: pointer;
}

.ins-search-box::-webkit-input-placeholder {
  color: #56565f;
}

.ins-search-box:-moz-placeholder {
  color: #56565f;
}

.ins-search-box::-moz-placeholder {
  color: #56565f;
}

.ins-search-box:-ms-input-placeholder {  
  color: #56565f;
}

.ins-control-group {
  display: block;
  clear: both;
  overflow: hidden;
  padding: 14px 20px 12px 20px;
  background: #0d0f1b;
  border-bottom: 1px solid #29292d;
}

.ins-button {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 1;
  padding: 10px 11px;
  min-width: 49px;
  text-align: center;
  background: #0d0f1b;
  border: 0;
  color: #aaa;
  border-radius: 2px;
  outline: none;
  margin: 0;
}

.ins-button:hover {
  background: #212a3a;
}

.ins-button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  background: #212a3a;
}

.ins-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.jstree-default .jstree-search {
  font-style: italic;
  color: #aaa;
  font-weight: normal;
}

.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-hovered {
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.jstree-default .jstree-wholerow {
  height: 28px;
}

.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-clicked {
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.jstree-default .jstree-leaf .jstree-clicked {
  color: #bbb !important;
}

.jstree-default .jstree-anchor {
  line-height: 27px;
}

.jstree-default .jstree-container-ul {
  margin-bottom: 12px;
}

.jstree-default .jstree-container-ul > .jstree-node > .jstree-anchor:before,
.jstree-default .jstree-open > .jstree-children > .jstree-node > .jstree-anchor:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 1px;
  height: 28px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-right: none;
  pointer-events: none;
  background: rgb(44, 47, 62, 0.5);
  opacity: 0;
}

.jstree-default .jstree-anchor.jstree-clicked:before {
  opacity: 1 !important;
  pointer-events: none;
}

.jstree-default .jstree-node,
.jstree-default .jstree-leaf .jstree-ocl,
.jstree-default .jstree-icon {
  background: transparent;
}

.jstree-default .jstree-node {
  min-height: 28px;
  line-height: 28px;
  margin-left: 12px;
  min-width: 26px;
}

.jstree-default .jstree-icon {
  position: relative;
}

.jstree-default .jstree-icon:before {
  display: block;
  pointer-events: none;
  color: #d6d6d6;
  font-style: normal;
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  line-height: 24px;
  transform-origin: 12px 12px;
  transform: translate(0px, -0px);
}

.jstree-default .jstree-open > .jstree-icon:before {
  content: '▾';
  top: 2px;
}

.jstree-default .jstree-closed > .jstree-icon:before {
  content: '▾';
  transform: rotate(-90deg) translate(-2px, 0px);
}

.jstree-leaf .jstree-icon:before {
  display: none;
}

.jstree-default .jstree-open .jstree-ocl {
  background-position: -38px -1px;
}

.jstree-default .jstree-closed .jstree-ocl {
  background-position: -4px -2px;
}

.jstree-anchor {
  padding: 1px 0;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.jstree-anchor .jstree-icon {
  display: none;
}

.jstree-node-type-bodies > .jstree-anchor,
.jstree-node-type-constraints > .jstree-anchor,
.jstree-node-type-composites > .jstree-anchor {
  color: #51515d;
}

.ins-container *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ins-container *::-webkit-scrollbar-thumb:vertical {
  border-left: 3px solid #17171f;
  background: #1c1d2f;
  width: 10px;
}

.ins-container *::-webkit-scrollbar-thumb:horizontal {
  border-top: 3px solid #17171f;
  background: #1c1d2f;
  height: 10px;
}

.ins-container *::-webkit-scrollbar-track,
.ins-container *::-webkit-scrollbar-corner {
  background: transparent;
}

#vakata-dnd {
  font-size: 12px;
  color: #aaa;
}